.show{display: block;}
.hide{display: none;}

div.tabview{
    border: 0px solid #ffffff;
    background: transparent url(../images/tabline.gif) repeat-x scroll 0px 0px;
    white-space: nowrap;
    overflow: hidden;
}

div.tabview div.container{
    height: 26px;
    margin: 0px 0px 0px 8px;
    border: 0px solid #ff0000;
}

div.tabview div.container ul{
    float: left;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

div.tabview div.container ul li{
    float: left;
    width: 100px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    cursor: default;
}

div.tabview div.container ul li.label, div.tabview div.container ul li.hide{
    border: 0px solid #666666;
    background: transparent url(../images/tabhide.gif) no-repeat scroll 0px 0px;
    color: #000000;
    display: block;
}

div.tabview div.container ul li.show{
    border: 0px solid #eeeeee;
    background: transparent url(../images/tabshow.gif) no-repeat scroll 0px 0px;
    color: #ffffff;
    display: block;
}

div.tabview div.container ul li.hide:hover{
    border: 0px solid #666666;
    background: transparent url(../images/tabmouseover.gif) no-repeat scroll 0px 0px;
    color: #000000;
}

div.tabview div.container ul li span.head{
    float: left;
    width: 4px;
    height: 26px;
    padding-top: 2px;
    padding-left: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

div.tabview div.container ul li span.icon{
    float: left;
    width: 18px;
    height: 26px;
    padding-top: 2px;
    padding-left: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

div.tabview div.container ul li span.icon img{
    margin: 0px; padding: 0px;
    border: 0px solid #ffffff;
    vertical-align: middle;
}

div.tabview div.container ul li span.title{
    float: left;
    height: 26px;
    padding-top: 0px;
    padding-left: 2px;
    text-align: center;
    font-size: 12px;
}

div.tabview div.container ul li span.closeable{
    float: right;
    width: 22px;
    height: 14px;
    margin-top: 4px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 12px;
    font-weight: normal;
}

div.tabview div.container ul li.show span.closeable{
    background: transparent url(../images/close.gif) no-repeat scroll 0px 0px;
}

div.tabview div.container ul li.hide span.closeable{
    background: transparent url(../images/close.gif) no-repeat scroll 0px -28px;
}

div.tabview div.container ul li.hide span.closeable{
    background: transparent url(../images/close.gif) no-repeat scroll 0px -28px;
}

div.tabview div.container ul li.hide span.closeable:hover{
    background: transparent url(../images/close.gif) no-repeat scroll 0px -14px;
}

div.tabview div.container ul li.show span.closeable:hover{
    background: transparent url(../images/close.gif) no-repeat scroll 0px -14px;
}

div.tabview div.panel{
    border-top: 0px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.tabcontent{
    border: 10px solid #DEECFD;
}

.tabcontentpanel{
    border: 1px solid #808080;
    background-color: #FFFFFF;
    overflow: auto;
}